<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Assets/styles/curso_java.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"referrerpolicy="no-referrer">

</head>
<body>
    <header>
        <div>
            <a href="#" class="logo">
                <img src="../Assets/images/LOGO_MAIN.png" alt="Aprendiendo Ando" >
                <h2 class="nombre-empresa">Aprendiendo Ando</h2>
            </div>
            <div class="buscar" >
                <input type="text" placeholder="Buscar" required>
                <div class="btn">
                    <i class="fas fa-search icon"></i>
                </div>
            </div>
            <div class="header">
                <a href="../index.html" class="nav-link">INICIO</a>
                <a href="" class="nav-link">CONOCENOS</a>
                <a href="" class="nav-link">INICIAR SESION</a>
                <a href="./registrar.php" class="nav-link">REGISTRARME</a>
            </div>
    </header>
    <main class="main-conteiner">
        <div id="curso">
            <ul class="nav">
                <p><h1>TEMARIO</h1></p>
                <li><a href="">Primeros pasos con JavaScript </a></li>
                    <ul>
                        <li><a href=""> variables en javascript</a></li>
                    </ul>
                <li><a href="">+ Tipos de ejecución de JavaScript</a>
                    <ul>
                        <li><a href="">• Almacenar valores con el operador de asignacion</a></li>
                        <li><a href="">• Iniciación a la programación orientada a objetos (POO) y JavaScript</a></li>
                    </ul>
                </li>
                <li><a href="">Ordenación de código</a>
                </li>
                <li><a href="">Operadores: clasificación, rangos y usos</a></li>
            </ul>
        </div>
        <div ><img src="../Assets/images/javalogo.jpg" alt="" class="img-curse"></div>
    </main>
    <p>main</p>
    <footer>
        <div class="container-footer-all">
            <div class="container-body">
                <div class="colum1">
                    <h1>Mas informacion de la compañia</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Sed fugiat ex nostrum magnam dicta. Enim recusandae nulla 
                        illo qui explicabo placeat soluta nesciunt eum molestias?
                        Sapiente dolores illum provident non alias explicabo modi earum quo,
                        laudantium sed repellendus ex ullam accusamus laborum in! Molestias 
                        vero repudiandae iusto deleniti, aspernatur sapiente.</p>
                </div>
                <div class="colum2">Redes sociales
                    <div class="row">
                        <img src="../Assets/images/icons/facebook.png" alt="facebook">
                        <label for="">Siguenos en facebook</label>
                    </div>
                    <div class="row">
                        <img src="../Assets/images/icons/instagram.png" alt="instagram">
                        <label for="">Siguenos en instagram</label>
                    </div>
                </div>
                <div class="colum3">
                    <h1>Informacion de contacto</h1>
                    <div class="row2">
                        <img src="../Assets/images/icons/marcador-de-posicion.png" alt="">
                        <label for="">Dirección: Carretera, Del Depto del Distrito Federal km 7.5, 52044 Santa María Atarasquillo, Méx.</label>
                    </div>
                    <div class="row2">
                        <img src="../Assets/images/icons/telefono.png" alt="">
                        <label for="">Teléfono: 728 285 9552</label>
                    </div>
                    <div class="row2">
                        <img src="../Assets/images/icons/correo.png" alt="">
                        <label for="">Correo: difusion@utvtol.edu.mx</label>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container-footer">
            <div class="footer">
                <div class="copyright">
                    ©2022 Todos los derechos reservados |<a>Aprendiendo Ando</a>
                </div>
                <div class="information">
                        <a href="" class="href">Informacion Compañia</a>
                        <a href="" class="href">Privacidad y Politica</a>
                        <a href="" class="href">Terminos y condiciones</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>                                                                                                                                    